body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #ffffff;
	background-color: #303B45;
}

body > header {
	font-size: 48px;
	
    border-bottom: 1px solid #506060;
    height: 100px;
    max-width: 100%;

    m-argin: 0 auto;
    text-align: center;
    w-idth: 695px;
	
	margin-left: 5%;
	margin-right: 5%;
}
