---
layout: default
title: Square a lot!
---

{% for week in site.weekly limit:1 %}
<article>
	<time datetime="{{ week.date | date: '%Y-%m-%d' }}" pubdate>{{ week.date | date: '%F - %Y' }}</time>		
	<h1><a href="{{ week.url }}">{{ week.title }}</a></h1>
	<section>{{ week.content }}</section>
</article>
{% endfor %}

{% for day in site.daily limit:1 %}
<article>
	<time datetime="{{ day.date | date: '%Y-%m-%d' }}" pubdate>{{ day.date | date: '%d. %B %Y' }}</time>		
	<h1><a href="{{ day.url }}">{{ day.title }}</a></h1>
	<section>{{ day.content }}</section>
</article>
{% endfor %}
