---
layout: default
title: Square a lot!
---

{% for post in site.weekly limit:1 %}
<article>
	<time datetime="{{ post.date | date: '%Y-%m-%d' }}" pubdate>{{ post.date | date: '%d. %B %Y' }}</time>		
	<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	<p>{{ post.excerpt }}</p>
</article>
{% endfor %}

{% for post in site.daily limit:1 %}
<article>
	<time datetime="{{ post.date | date: '%Y-%m-%d' }}" pubdate>{{ post.date | date: '%d. %B %Y' }}</time>		
	<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	<p>{{ post.excerpt }}</p>
</article>
{% endfor %}
