---
layout: default
title: Square a lot!
---

{% assign weekNow = 'now' | date: '%Y-%W' %}

<article>
{% for week in site.weekly %}
	{% assign weekInLoop = week.date | date: '%Y-%W' %}
	{% if weekNow == weekInLoop %}
		<h1>{{ week.date | date: 'Year %Y' }}</h1>
		<h2>{{ week.date | date: 'Week %W' }}</h2>
		<section>{{ week.content }}</section>

		{% for day in site.daily %}
			{% assign swapLongs = day.date | date: '%Y-%m-%d_longs' %}
			{% assign swapShorts = day.date | date: '%Y-%m-%d_shorts' %}
			{% assign swapSums = day.date | date: '%Y-%m-%d_sums' %}
			
			{% assign weekOfDay = day.date | date: '%Y-%W' %}
			{% if weekInLoop == weekOfDay %}
				<hr/>
				<time datetime="{{ day.date | date: '%Y-%m-%d' }}" pubdate>{{ day.date | date: '%d. %B %Y' }}</time>
				<h3><time datetime="{{ day.date | date: '%Y-%m-%d' }}">{{ day.date | date: '%A' }}</time></h3>
				<section>{{ day.content }}</section>

				
				
				<h3 onclick="javascript: $('.swap-table').show().css('display', 'inline');">
					Swap
					({{ site.data.swaps[swapSums] | size }} / {{ site.data.swaps[swapLongs] | size }} / {{ site.data.swaps[swapShorts] | size }})
					<i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
				</h3>
				
				{% if site.data.swaps[swapSums] %}
				<table class="swap-table">
					<tr><th colspan="2">long+short</th></tr>
					<tr><th>symbol</th><th>eurocent</th></tr>
					{% for row in site.data.swaps[swapSums] %}<tr>
						<td>{{ row.symbol }}</td>
						<td>{{ row.eurocent }}</td>
					{% endfor %}</tr>
				</table>
				{% endif %}
				
				{% if site.data.swaps[swapLongs] %}
				<table class="swap-table">
					<tr><th colspan="2">long</th></tr>
					<tr><th>symbol</th><th>eurocent</th></tr>
					{% for row in site.data.swaps[swapLongs] %}<tr>
						<td>{{ row.symbol }}</td>
						<td>{{ row.eurocent }}</td>
					{% endfor %}</tr>
				</table>
				{% endif %}
				
				{% if site.data.swaps[swapShorts] %}
				<table class="swap-table">
					<tr><th colspan="2">short</th></tr>
					<tr><th>symbol</th><th>eurocent</th></tr>
					{% for row in site.data.swaps[swapShorts] %}<tr>
						<td>{{ row.symbol }}</td>
						<td>{{ row.eurocent }}</td>
					{% endfor %}</tr>
				</table>
				{% endif %}
				
				
			{% endif %}
		{% endfor %}

	{% endif %}
{% endfor %}
</article>
