<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/normalize.css" />
		<link rel="stylesheet" href="/assets/css/default.css" />
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="alternate" type="application/rss+xml" href="/rss.xml" />		
		<script src="/assets/js/jquery-3.0.0.min.js"></script>
	</head>
    <body>
        <header><a href="/">Square a lot!</a></header>
        <section>{{ content }}</section>
	</body>
</html>
